<footer id="footer">
	<div id="social">
		<p class="small">©  <%= config.author %>| Powered by Hexo & 
			<a href="https://github.com/F0r3at/Lights.git">Themes</a>&
			<a href="https://github.com/editso"> editso</a>
			备案号:  
			<a href="http://www.beian.miit.gov.cn/">蜀ICP备18009905号</a>
		</p>
	</div>
</footer>
